<template>
  <div id="resume-container">
    <h2>Resume</h2>
    <h3>Dery Nugroho Marjuki</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div id="section-1">
      <h3>Pengalaman</h3>
      <ol>
        <li class="experience" v-for="exp in experiences" :key="exp.id">
          <p class="experience-list" @click="showDescription(exp)">
            {{ exp.start }} - {{ exp.end }} ,
            {{ exp.position }} at
            {{ exp.company }}
          </p>
          <p class="description" v-if="exp.showDesc">{{ exp.description }}</p>
        </li>
      </ol>
    </div>
    <div id="section-2">
      <h3>Kemampuan</h3>
      <div class="skill">
        <ul>
          <li class="skill-list" v-for="skl in skills" :key="skl.id">
            <p>{{ skl.skill }}</p>
            <div
              class="proficiency"
              :style="{
                width: skl.proficiency + '%',
              }"
            >
              {{ skl.proficiency }}%
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div
      id="section-3"
      style="
         {
          margin-top: 120px;
        }
      "
    >
      <h3>Kontak Saya</h3>
      <form @submit.prevent="submitContact()" ref="form">
        <p>Name</p>
        <input type="text" v-model="contact.name" required />
        <p>Email</p>
        <input type="email" v-model="contact.email" required />
        <p>Note</p>
        <textarea
          name=""
          id=""
          cols="20"
          rows="10"
          v-model="contact.note"
          required
        />
        <button>Kirim</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      experiences: [
        {
          id: 1,
          start: "Agu 2022",
          end: "saat ini",
          position: "Starter Frontend Web Engineer",
          company: "Qatros",
          description:
            "Fringilla urna porttitor rhoncus dolor purus non enim. Sed adipiscing diam donec adipiscing. Morbi tristique senectus et netus. Lacus sed viverra tellus in hac habitasse platea dictumst.",
          showDesc: false,
        },
        {
          id: 2,
          start: "Feb 2022",
          end: "Jul 2022",
          position: "Front End Javascript",
          company: "Binar",
          description:
            "Commodo viverra maecenas accumsan lacus vel. Sollicitudin tempor id eu nisl nunc mi ipsum. Auctor eu augue ut lectus arcu bibendum at.",
          showDesc: false,
        },
        {
          id: 3,
          start: "Jul 2022",
          end: "Okt 2022",
          position: "Staff Pusat Komputer",
          company: "Universitas Semarang",
          description:
            "Dui id ornare arcu odio ut sem nulla. Risus sed vulputate odio ut enim blandit. Malesuada fames ac turpis egestas sed tempus urna et.",
          showDesc: false,
        },
      ],
      skills: [
        { id: 1, skill: "React", proficiency: 76 },
        { id: 2, skill: "Git", proficiency: 45 },
        { id: 3, skill: "Vue", proficiency: 16 },
      ],
      contact: {
        name: "",
        email: "",
        note: "",
      },
    };
  },
  methods: {
    showDescription(data) {
      data.showDesc = !data.showDesc;
    },
    submitContact() {
      alert(
        "terimakasih " +
          this.contact.name +
          " dengan " +
          this.contact.email +
          "mengirimkan note " +
          this.contact.note
      );
      this.$refs.form.reset();
      console.log(this.contact)
      this.contact.name = '';
      this.contact.email = '';
      this.contact.note = '';
      console.log(this.contact)
    },
  },
};
</script>

<style>
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(239, 242, 242);
}

#section-1,
#section-2,
#section-3 {
  margin-top: 12px;
}
#resume-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  max-width: 600px;
  margin: 20px auto;
  padding: 16px;
  background-color: rgb(212, 214, 255);
  border-radius: 8px;
}

.experience {
  margin: 12px 0px;
}

.experience-list {
  cursor: pointer;
  font-weight: 600;
  margin: 4px 0px;
}

.description {
  padding-left: 16px;
}

.skill-list {
  padding: 4px 0px;
}

.proficiency {
  background-color: #4287f5;
  height: 24px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

#section-3 input,
textarea {
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
}

#section-3 button {
  background-color: #4287f5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px 30px;
}
</style>
